* {
  font-family: "Amiri", serif;
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #082032;
}

h1 {
  margin-top: 30px;
  text-align: center;
  color: rgb(78, 78, 255);
}

.container {
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 25px;
}

.time {
  font-size: 60px;
  margin-bottom: 10px;
}

.controls .control {
  margin: 10px 5px;
  padding: 10px 20px 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  transition: 0.8s;
  cursor: pointer;
  color: aliceblue;
}

.start {
  background-color: rgb(0, 204, 27);
}
.lap {
  background-color: rgb(39, 53, 255);
}
.reset {
  background-color: rgb(252, 45, 45);
}

.lapping {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: scroll;
}
